﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diary</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mystyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
</head>
<body>

    <div class="wrapper">
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Index">Naslovna</a>                            
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Articles/Index">Članci</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Articles/Favourites">Najdraži</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Articles/DateOrdered">Sortirani po datumu</a>
                        </li>
                    </ul>
                </div>
		    </nav>
            <div class="content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/myscript.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>