@model Models.Article

<div class="col-12 col-md-6" style="padding: 10px">
    <div class="card h-100">
        <div class="card-header">
            <div class="card-actions float-end">
                <div class="col-auto">                    
                    <partial name="_Star" model="@Model" />
                    <div class="avatar d-inline-block">
                        <a onclick="deleteArticle(@Model.Id,'@Model.Title')">
                            <i class="trash bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            <h3 class="mb-0">@Model.Title</h3>
        </div>
        <div class="card-body pb-1">
            <p class="card-text">@Model.Text</p>
        </div>
        <div class="card-footer pt-0">
            <a class="btn btn-primary d-inline-block" asp-page="./Details" asp-route-id="@Model.Id">Detalji</a>
            <a class="btn btn-secondary d-inline-block" asp-page="./Edit" asp-route-id="@Model.Id">Uredi</a>
        </div>
    </div>
</div>