@model Models.Article

<div class="avatar d-inline-block">
    <a onclick="changeFavourite(@Model.Id)"> 
        <i id="@Model.Id-star" class='star bi @(Model.Favourite ? "bi-star-fill" : "bi-star")' ></i>
    </a>
</div>