@page
@model Diary.Pages_Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<form method="post"></form>
<div class="row">
    <div class="col-md-8 col-xl-9">
        <div class="card">
            <div class="card-header">
                <h1 class="d-inline-block px-2">@Model.Article.Title </h1>
                <partial name="_Star" model="@Model.Article" />
                <hr>
            </div>
            <div class="card-body">
                @Model.Article.Text
                <hr>
                @Model.Article.Date
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Index" class="btn btn-secondary d-inline-block">Povratak</a>
</div>
