@page
@model Diary.Pages_Articles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Uredi članak</h1>
<br>
<div class="row">
    <div class="col-12 col-lg-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.Id" />
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Naslov</h5>
                </div>
                <div class="card-body">
                    <input asp-for="Article.Title" class="form-control" />
                    <span asp-validation-for="Article.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Tekst</h5>
                </div>
                <div class="card-body">
                    <textarea asp-for="Article.Text" class="form-control" style="height: 120px;"></textarea>
                    <span asp-validation-for="Article.Text" class="text-danger"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Datum događaja</h5>
                </div>
                <div class="card-body">
                    <input asp-for="Article.Date" class="form-control" />
                    <span asp-validation-for="Article.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Najdraži</h5>
                </div>
                <div class="card-body">
                    <input class="form-check-input" asp-for="Article.Favourite" /> Ovo je jedan od meni dražih događaja
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-primary d-inline-block" />
                <a asp-page="Index" class="btn btn-secondary d-inline-block">Odustani</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
