@page
@model Diary.Pages_Articles.FavouritesModel

@{
    ViewData["Title"] = "Index";
}

<h1>Najdraži članci</h1>

<div class="container-fluid p-0">
    <div class="row">
        @foreach (var item in Model.Article) {
            <partial name="_ArticleCard" model="item" />
        }
    </div>
    <form method="post"></form>
</div>