@page
@model Diary.Pages_Articles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Članci</h1>

<a asp-page="Create" class="btn btn-secondary">Dodaj novi članak</a>
<br>
<br>
<form method="post"></form>
<div class="container-fluid p-0">
    <div class="row">
        @foreach (var item in Model.Article) {
            <partial name="_ArticleCard" model="item" />
        }
    </div>
</div>